<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
	<title>Color Game</title>
    
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;1,400&family=Roboto&display=swap" rel="stylesheet">
    
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/d7c2cf6d44.js" crossorigin="anonymous"></script>
    
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body>
   
    <header>
        <h1><span></span></h1>
        <nav>
            <div>
                <span id="message"></span>
                <span id="hearts">
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-heart"></i>
                </span>
            </div>
            <button>Easy</button>
            <button>Medium</button>
            <button>Hard</button>
            <span class="space"></span>
            <button> <span id="rgbOrHex">RGB</span> </button>
            <button>New Game</button>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </main>
   



    <script src="/js/js.js"></script>
</body>
</html>